<article>
  <fa-icon class="brandIcon" [icon]="faSchool"></fa-icon>
  <!-- <img src="https://plchldr.co/i/100x100?bg=111111" alt="plchldr.co" /> -->
  <div class="verticalDivisor"></div>
  <div class="row">
    <div class="column">
      <h2 class="expTitle">
        <span>{{ education.institucion }}</span> <span>•</span>
        <span>{{ education.tituloEd }}</span>

        <div class="spacer"></div>
        <span class="expYear"
          >{{ education.fechaInicio }}
          <fa-icon [icon]="faArrowsLeftRight"></fa-icon>
          {{ education.fechaFin }}</span
        >
      </h2>
    </div>
    <p>{{ education.descripcionEd }}</p>
  </div>
</article>
