<article>
  <fa-icon class="brandIcon" [icon]="faSuitCase"></fa-icon>
  <!-- <img src="https://plchldr.co/i/100x100?bg=111111" alt="plchldr.co" /> -->
  <div class="verticalDivisor"></div>
  <div class="row">
    <div class="column">
      <h2 class="expTitle">
        <span>{{experience.empleador}}</span> <span>•</span> <span>{{experience.tituloEx}}</span>

        <div class="spacer"></div>
        <span class="expYear">{{experience.fechaInicio}} <fa-icon [icon]="faArrowsLeftRight"></fa-icon> {{experience.fechaFin}}</span>
      </h2>
    </div>
    <p>
     {{experience.descripcionEx}}
    </p>
  </div>
</article>
