<div class="page">
  <div class="landing">
    <div class="profile simpleShadow">
      <div class="profileHeader">
        <img class="profilePic" src="assets/img/ProfilePic.jpg" alt="" />
        <h1>Kevin Vicente</h1>
        <h2>Full-Stack Developer</h2>
      </div>
      <div class="profileDetails">
        <h3>Looking to work with</h3>
        <div class="row evenly gap1">
          <img
            class="profileFramework"
            src="assets/img/svelteLogo.svg"
            alt=""
          />
          <img class="profileFramework" src="assets/img/reactLogo.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="terminal simpleShadow">
      <p>guest@kevPortfolio $ cat aboutMe.txt</p>
      <p>
        Hello! My name is Kevin and I'm a full stack developer with a passion
        for web technologies, Flutter and Backend and DevOps. I have over 5 of
        experience in the field and have had the opportunity to work on a wide
        range of projects, from small startups to large enterprise systems.
      </p>
      <p>
        I particularly enjoy working with web technologies, and I am always
        looking for new ways to improve my skills and stay up-to-date with the
        latest developments in the field.
      </p>
      <p>
        I'm also intrigued by dev ops and infrastructures, having dealt with the
        challenging of keep systems working and the challenge of scaling. I also
        have a good experience with flutter, having built several apps with it.
      </p>
      <p>
        When I'm not coding, you can find me either reading about new
        technologies, experimenting with new tools and techniques, or playing
        video games with my friends.
      </p>
      <p>
        Thanks for stopping by and taking the time to read my profile. Feel free
        to check out my portfolio, which includes examples of my work, and don't
        hesitate to reach out if you're interested in working together.
      </p>
    </div>
  </div>
  <a href="#nextPage" class="animatedContainer">
    <fa-icon class="animatedIcon" [icon]="faAngleDown"></fa-icon>
  </a>
  <div id="nextPage"></div>
</div>
