.landing {
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('src/assets/img/clouds.svg');
    background-repeat: no-repeat;
    background-size: 75rem;
    background-position-x: center;
    background-position-y: 115%;
}

.row {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: column;
}
svg#clouds {
  position: absolute;
  overflow: hidden;
  width: 1920px;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  clip: rect();
}