section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  width: auto;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
  margin: 0;
  padding: 1rem;
  background-color: var(--primary-swatch);
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: white;
  margin: 0;
  text-shadow: 0ch 2px 5px rgba(0, 0, 0, 0.25);
}

.skillsContainer {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  justify-content: space-evenly;
}

.techStack {
  display: grid;
  grid-template-columns: clamp(auto, auto, auto auto);
}